body{
  background-color: hsl(185, 75%, 39%)



}
.card{
background-color: white;
position: relative;
height: 50vh;
width: 25vw;
border-radius: 25px;
top: 15vh;
left: 38vw;

}
#victor{
border-radius: 100%;
position: relative;
left: 18vh;
bottom: 7vh;
border: solid 6px whitesmoke 

}
#capa{
    width: 25vw;
    border-radius: 25px 25px 0 0;
}
.texto{
position: relative;
bottom: 10.5vh;
left: 9.5vh;
top: vw;


}
    
